<app-header></app-header>
<div class="event-area-main bg-blue-200 p-2">
    <div class="event-area-container flex">
        <div class="events w-1/2">
            <div class="event w-fit">
                <span class="material-symbols-outlined flex justify-center">
                    local_activity
                </span>
                <p>Team Election</p>
            </div>
        </div>
        <div class="event-summary w-1/2 bg-blue-300">
            <p>summary</p>
        </div>
    </div>
</div>
