<app-header></app-header>
<div class="cards-main">
   <div class="cards-row">
    <div class="card" (click)="cardClick('events')">
        <span class="material-symbols-outlined">
            how_to_vote
        </span>
        <p>Events</p>
    </div>
    <div class="card" (click)="cardClick('voterList')">
        <span class="material-symbols-outlined">
            user_attributes
            </span>
        <p>Voter List</p>
    </div>
    <div class="card" (click)="cardClick('voterAdd')">
        <span class="material-symbols-outlined">
            person_add
            </span>
        <p>Add Voter</p>
    </div>
   </div>
</div>
