/* .login-main{
    background-color: aqua;
    padding: 10px;
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.input{
    margin: 10px 0;
}

.input input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
}

.input input:focus{
    border: none;
    outline: none;
} */

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-box{
    width: 30%;
    height: fit-content;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 40px 1px #9d9c9c;
    padding: 10px;
}
h3{
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
}
.input-div, .btn{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
input{
    display: block;
    width: auto;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 4px;
    height: 35px;
    background-color: #e2e2e2;
    font-family: "Roboto", sans-serif;
    /* border: 1px solid green; */
}
.invalid-border{
    border: 2px solid red;
}
.valid-border{
    border: 2px solid green;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    padding: 8px;
    background-color: rgb(97, 97, 184);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}
.btn button:hover{
    background-color: rgb(64, 64, 155);
    cursor: pointer;
}
p{
    text-align: center;
}
span{
    color: blue;
}
span:hover{
    cursor: pointer;
}
.error-msg{
    color: red;
}